Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [5]:
import pandas as pd
Data = [4, 8, 15, 16, 23,42]
df = pd.Series(Data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [14]:
import pandas as pd
D = [12,34,56,47,35,25,89]
df = pd.Series(D)
print(df)

0    12
1    34
2    56
3    47
4    35
5    25
6    89
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [17]:
import pandas as pd
Data = {'Name':['Alice','Bob','Claire'],
        'Age':[25,30,27],
        'Gender': ['Female','Male','Female']}
df = pd.DataFrame(Data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans - Data Frame in pandas depicts Data organised in Tabular Format.
      In pandas.series data is depicted in the form of list and not in tabular       format. 
      for e.g 
      import pandas as pd
      Data = {'Name':['Alice','Bob','Claire'],
        'Age':[25,30,27],
        'Gender': ['Female','Male','Female']}
      df = pd.DataFrame(Data)
      print(df)
      and for series
      import pandas as pd
      D = [12,34,56,47,35,25,89]
      df = pd.Series(D)
      print(df)

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans - DataFrame.head() and DataFrame.tail(): These functions allow you to view the first or last few rows of your DataFrame, respectively. They're handy for quickly inspecting your data to understand its structure.
      DataFrame.info(): Provides a concise summary of your DataFrame, including the data types of each column and the number of non-null values.
      DataFrame.describe(): Generates descriptive statistics for numerical columns in your DataFrame, such as mean, standard deviation, min, max, and quartile values.
      DataFrame.groupby(): Allows you to group data based on one or more columns and perform aggregate functions on each group.
      e.g df.groupby('category')['value'].mean()

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans - Among the options provided, both Series and DataFrame are mutable in nature, while Panel is not.

Q7. Create a DataFrame using multiple Series. Explain with an example.